@model EssexBooking.Models.Booking

@{
    ViewBag.Title = "_BookingFormPartial";
    string prefix = Model.temp_id.ToString();
}

<div temp_id="@Model.temp_id" class="bookingForm">
    <h2>Booking for @Model.Hotel.name</h2>

    <div class="formField">Starting date <div class="start_date"></div></div>
    <div class="formField">
        Duration 
        <div class="radioset duration">
            <label for="@(prefix)_duration_7">1 week</label><input @(Model.duration == 7 ? "checked='checked'" : "") id="@(prefix)_duration_7" type="radio" name="@(prefix)_duration" value="7"/>
            <label for="@(prefix)_duration_14">2 weeks</label><input @(Model.duration == 14 ? "checked='checked'" : "") id="@(prefix)_duration_14" type="radio" name="@(prefix)_duration" value="14"/>
        </div>
    </div>
    <div class="formField">
        guests <select name="guests">
            @for(int i=1; i<=20;i++){
                <option value="@i">@i</option>
            }
        </select>
        Val from obj = @(Model.guests)
        <!--TODO: pre select from dropdown -->

        @Html.Partial("_ExtraPartial", Model.Hotel.Resort.Extras)

        <div id="miniextracart">
          @Html.Partial("_ExtraBookingCartPartial", Model.temp_extras)
        </div>
    </div>

    <button class="save">Save</button>
</div>
