@model EssexBooking.Models.Booking

@{
    ViewBag.Title = "_BookingFormPartial";
    string prefix = Model.temp_id.ToString();
}

<div temp_id="@Model.temp_id" class="bookingForm">
   @Html.Partial("_HotelFormPartial", Model)
   @Html.Partial("_TravelFormPartial", Model)
   @for (var i = 0; i < Model.guests; i++)
   {
       @Html.Partial("_PassengerFormPartial", Model)
   }
        @Html.Partial("_ExtraPartial", Model.Hotel.Resort.Extras)

        <div id="miniextracart">
          @Html.Partial("_ExtraBookingCartPartial", Model.temp_extras)
        </div>
</div>
