@model EssexBooking.Models.Booking

@{
    string prefix = Model.id.ToString();
}

<div class="hotelForm">
    <h2>Booking for @Model.Hotel.name</h2>

    <div class="formField"><div date="@Model.start_date.Month @Model.start_date.Day @Model.start_date.Year" class="start_date"></div></div>
    <div class="formField">
        Duration 
        <div class="radioset duration">
            <label for="@(prefix)_duration_7">1 week</label><input @(Model.duration == 7 ? "checked='checked'" : "") id="@(prefix)_duration_7" type="radio" name="@(prefix)_duration" value="7"/>
            <label for="@(prefix)_duration_14">2 weeks</label><input @(Model.duration == 14 ? "checked='checked'" : "") id="@(prefix)_duration_14" type="radio" name="@(prefix)_duration" value="14"/>
        </div>
    </div>
    <div class="formField">
        guests @Html.DropDownListFor(model=> model.guests, new SelectList(Enumerable.Range(1, 20)))
    </div>
</div>
