@model EssexBooking.Models.Passanger


@using (Html.BeginForm("AddPassengers","Ajax",FormMethod.Post)) {
    @Html.ValidationSummary(true)
    <fieldset passenger_id="@Model.id" >
        <legend>Passanger</legend>
        <input type="hidden" name="id" value="@Model.id" />
        <input type="hidden" name="travel_id" value="@Model.travel_id" />

        <div class="editor-label">
            @Html.LabelFor(model => model.first_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.first_name)
            @Html.ValidationMessageFor(model => model.first_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.passaport_no)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.passaport_no)
            @Html.ValidationMessageFor(model => model.passaport_no)
        </div>
    </fieldset>
}

