@model EssexBooking.Models.Booking

@{
    string prefix = Model.id.ToString();
}

<div class="radioset travel_type">
@foreach(var item in ViewBag.TravelTypes)
{
    <input name="@(prefix)_travel_id" id="@(prefix)_travel_@(item.id)" value="@(item.id)" type="radio" />
    <label name="@(item.id)" for="@(prefix)_travel_@(item.id)">@item.name</label>
}
</div>

