@model IEnumerable<EssexBooking.Models.Hotel>

@{
    ViewBag.Title = "Hotels";
}
@section extraHead
{
<script type="text/javascript" src="/Scripts/AjaxProxy.js"></script>
<script type="text/javascript">

    updateCart = function (resp) {
        $("#minicart .cart").replaceWith(resp);
    };

    $(function () {
        $(".addToCart").click(function () {
            var hotel_id = $(this).closest("[hotel_id]").attr("hotel_id");
            AddHotelToCart(hotel_id, updateCart);

        });

        $(".cart .remove").live('click',function () {
            var temp_id = $(this).closest("[temp_id]").attr("temp_id");
            RemoveBookingFromCart(temp_id, updateCart);

        });

    });

</script>
}
<h2>Hotels</h2>

<table>
    <tr>
        <th>
            Name 
        </th>
        <th>
            Hotel Category
        </th>
         <th>
            Hotel Price
        </th>
         <th>
            Resort
        </th>
        <th>
            add to cart
        </th>
    </tr>

@foreach (var item in Model) {
    <tr hotel_id='@(item.id)'>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelType.name)
        </td>
        <td>
            &pound; @Html.DisplayFor(modelItem => item.HotelType.price)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Resort.name)
        </td>
        <td>
            <button class="addToCart">Add</button>
        </td>
    </tr>
}

</table>

<div id="minicart">
@Html.Partial("_CartPartial", (EssexBooking.Models.Cart) ViewBag.Cart)
</div>