@model EssexBooking.Models.Customer

@{
    ViewBag.Title = "Deleting " + Model.FirstName + " " + Model.LastName;
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">PostCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostCode)
    </div>

    <div class="display-label">TelephoneNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelephoneNumber)
    </div>

    <div class="display-label">PassportNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassportNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
