@model EssexBooking.Models.TravelType

@{
    ViewBag.Title = "Details of Travel Type: " + Model.name;
}

<fieldset>
    <legend>TravelType</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">Available Days</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.available_days)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
