@model IEnumerable<EssexBooking.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<table>
    <tr>
        <th>
            Customer
        </th>
        <th>
            Travel
        </th>
        <th>
            Hotel
        </th>
        <th>
            Start Date
        </th>
        <th>
            Duration
        </th>
        <th>
            Guests
        </th>
        <th>
            Booker
        </th>
        <th>
            Extra
        </th>
        <th></th>
    </tr>

@foreach (var booking in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelbooking => booking.customer_id)
        </td>
        <td>
            @Html.DisplayFor(modelbooking => booking.Travel.TravelType.name)
        </td>
        <td>
            @Html.DisplayFor(modelbooking => booking.Hotel.name)
        </td>
        <td>
            @Html.DisplayFor(modelbooking => booking.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelbooking => booking.duration)
        </td>
        <td>
            @Html.DisplayFor(modelbooking => booking.guests)
        </td>
        <td>
            @Html.DisplayFor(modelbooking => booking.booker_id)
        </td>
        <td>
            @foreach (var extrabooking in booking.ExtraBookings)
            {
                @Html.DisplayFor(modelbooking => extrabooking.Extra.name)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=booking.id }) |
            @Html.ActionLink("Details", "Details", new { id=booking.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=booking.id })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
