@model EssexBooking.Models.Extra

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Extra</legend>

    <div class="display-label">Resort</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resort.name)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
