@model EssexBooking.Models.Extra

@{
    ViewBag.Title = "Details of " + Model.name + " in " + Model.Resort.name;
}

<fieldset>
    <legend>Extra</legend>

    <div class="display-label">Resort</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resort.name)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
