@model IEnumerable<EssexBooking.Models.Booking>

<h3>Bookings for Today (@Model.Count())</h3>
<div class="contents">
    <ul>
@foreach (var item in Model) {
        <li>
            Hotel @item.Hotel.name (in @item.Hotel.Resort.name)
            <br>
            @item.guests @(item.guests == 1 ? "guest" : "guests") for @item.duration @(item.duration == 1 ? "day" : "days")
        </li>
}
    </ul>
</div>