@model IEnumerable<EssexBooking.Models.Resort>

@{
    ViewBag.Title = "Resorts";
}

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th style="border-right: 1px solid #000"></th>
        <th style="border-right: 1px solid #000">Hotels</th>
        <th>Extras</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td style="border-right: 1px solid #000">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
        <td style="border-right: 1px solid #000">
            @Html.ActionLink("Add Hotel", "Create", "Hotel", new { resort_id = item.id }, null) |
            @Html.ActionLink("View Hotels", "Index", "Hotel", new { resort_id = item.id }, null)
        </td>
        <td>
            @Html.ActionLink("Add Extra", "Create", "Extras", new { resort_id = item.id }, null) |
            @Html.ActionLink("View Extras", "Index", "Extras", new { resort_id = item.id }, null)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>