@model EssexBooking.Models.Cart


@{
    ViewBag.Title = "Payments";
}

<h2>Booking List</h2>
<table>
    <tr>
        <th>Resort</th> 
        <th>Hotel</th>
        <th>Travel</th>
        <th>Extra</th>
        <th>Amount</th>
    </tr>
    @foreach (var bookingItem in Model.GetBookings())
    {
        <tr>
            <td>@bookingItem.Hotel.Resort.name</td>
            <td>@bookingItem.Hotel.name</td>
            <td>@bookingItem.Travel.TravelType.name</td>        
            <td>
                <ul>
                    @foreach (var extra in bookingItem.ExtraBookings)
                    {  
                      <li>@extra.Extra.name</li>
                    }
                </ul>
            </td>
           <td>&pound;@bookingItem.GetBookingTotal()</td>
        </tr>
    }
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
                    <td>&pound;@Model.GetCartTotal()</td>
    </tr>
</table>

@Html.ActionLink("Buy", "Checkout");

